version: '3.9'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: books_api
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017
      MONGO_DB: books_to_scrape
      API_KEY: mysecretkey
    volumes:
      - ./reports:/app/reports

volumes:
  mongo_data:
